{% extends 'main/base.html' %}

{% block title %}
Подтверждение
{% endblock %}

{% block content %}
    <h1>Введите код</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="small mb-1" for="{{ form.pin_code.id_for_label }}"> Код Google Authenticator</label>
            <td>{{ form.pin_code }}</td></tr>
        </div>
        <button type="submit" class="btn btn-success">Подтвердить</button>
        <span>{{ error }}</span>
    </form>
    
{% endblock %}