{% extends 'main/base.html' %}

{% block title %}
Редакировать заметку
{% endblock %}

{% block content %}
    <h1>Редакировать заметку</h1>
    <form method="POST">
        {% csrf_token %}
        <p>
            <input type="text" name="title" value="{{ note.title }}" />
        </p>
        <p>
            <label>Введите содержание</label>
            <textarea type="text" name="text"/>{{ note.text }}</textarea>
        </p>

{#        {{ form.title }}<br>#}
{#        {{ form.text }}<br>#}
        <button type="submit" class="btn btn-success">Редактировать</button>
        <span>{{ error }}</span>
    </form>
    
{% endblock %}