{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    {% if notes %}
    {% for element in notes %}
        <div class="alert alert-warning mt-2">
            <td>id:{{ element.id }}</td>
            <h3>{{ element.title }}</h3>
            <p>{{ element.text }}</p>
        <td><a href="edit/{{element.uuid}}">Изменить</a> | <a href="delete/{{element.uuid}}">Удалить</a></td>
        </div>
    {% endfor %}
    {% else %}
        <p>Заметок не обнаружено</p>
    {% endif %}
{% endblock %}